<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025352052284-36qtavs2st5m0kc69d90efi1serppiu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025352052284-36qtavs2st5m0kc69d90efi1serppiu8</string>
	<key>API_KEY</key>
	<string>AIzaSyB9OKdNiX5jQClK2XGYU4g7GctxsqNH_54</string>
	<key>GCM_SENDER_ID</key>
	<string>1025352052284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluttercomein</string>
	<key>PROJECT_ID</key>
	<string>comein-86923</string>
	<key>STORAGE_BUCKET</key>
	<string>comein-86923.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025352052284:ios:e551a3c2cddd5b4278dd39</string>
</dict>
</plist>